Repository SouJunior/vagas-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,scss,css,md}": ["prettier --write"]
}

feat: add components with checkbox and radiobutton selection elements
  src/assets/imgs/check.svg
  src/components/Ui/selection-elements/index.tsx
Due: prettier --write, eslint --fix

refactor: adjust code to make it more accessible as per coderabbitai's guidance
  src/components/Ui/selection-elements/index.tsx
Due: prettier --write, eslint --fix

feat: create input and label components
  src/components/Ui/input/index.tsx
  src/components/Ui/label/index.tsx
  src/pages/Home.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: add useControllableState to manage states
  package.json
  yarn.lock
Due: prettier --write

refactor: separation of radioButton and checkbox components
  src/components/Ui/checkbox/index.tsx
  src/components/Ui/radio-button/index.tsx
  src/components/Ui/selection-elements/index.tsx
Due: prettier --write, eslint --fix

refactor: coderabbitai adjustments
  src/components/Ui/checkbox/index.tsx
  src/components/Ui/radio-button/index.tsx
Due: prettier --write, eslint --fix

refactor: adjust the checkbox
  src/components/Ui/checkbox/index.tsx
Due: prettier --write, eslint --fix

feat: setup shadcn/ui configuration and utils
  components.json
  src/lib/utils.ts
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update dependencies and docker config
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

feat: add shadcn/ui popover component
  src/components/ui/popover.tsx
Due: prettier --write, eslint --fix

feat: add DropdownList component with composition pattern
  src/components/Ui/dropdown-list/DropdownListContent.tsx
  src/components/Ui/dropdown-list/DropdownListItem.tsx
  src/components/Ui/dropdown-list/DropdownListPopover.tsx
  src/components/Ui/dropdown-list/DropdownListRoot.tsx
  src/components/Ui/dropdown-list/DropdownListTrigger.tsx
  src/components/Ui/dropdown-list/context.tsx
  src/components/Ui/dropdown-list/index.tsx
  src/components/Ui/dropdown-list/types.ts
Due: prettier --write, eslint --fix

chore: remove bun.lock file
  bun.lock
Due: none

style: update global styles and tailwind imports
  src/index.css
Due: prettier --write

fix: resolve TypeScript errors in DropdownList components
  src/components/Ui/dropdown-list/DropdownListContent.tsx
  src/components/Ui/dropdown-list/DropdownListItem.tsx
  src/components/Ui/dropdown-list/DropdownListRoot.tsx
Due: prettier --write, eslint --fix

fix: remove broken schema URL and add CodeRabbit config
  .coderabbit.yaml
  components.json
Due: prettier --write

feat: improve Docker security with multi-stage build
  Dockerfile
Due: none

style: update tailwind config for shadcn/ui
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: enhance DropdownList types interface
  src/components/Ui/dropdown-list/types.ts
Due: prettier --write, eslint --fix

feat: improve DropdownList trigger UI and accessibility
  src/components/Ui/dropdown-list/DropdownListTrigger.tsx
Due: prettier --write, eslint --fix

Revert "feat: improve DropdownList trigger UI and accessibility"
  src/components/Ui/dropdown-list/DropdownListTrigger.tsx
Due: prettier --write, eslint --fix

Revert "feat: enhance DropdownList types interface"
  src/components/Ui/dropdown-list/types.ts
Due: prettier --write, eslint --fix

Revert "style: update tailwind config for shadcn/ui"
  tailwind.config.js
Due: prettier --write, eslint --fix

Revert "feat: improve Docker security with multi-stage build"
  Dockerfile
Due: none

Revert "fix: remove broken schema URL and add CodeRabbit config"
  .coderabbit.yaml
  components.json
Due: prettier --write

fix: melhorias de segurança e configuração
  Dockerfile
  docker-compose.yml
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: add open state control props to DropdownListRoot
  src/components/Ui/dropdown-list/types.ts
Due: prettier --write, eslint --fix

refactor: replace useState with useControllableState in DropdownListRoot
  src/components/Ui/dropdown-list/DropdownListRoot.tsx
Due: prettier --write, eslint --fix

feat: simplify DropdownList API using Object.assign
  src/components/Ui/dropdown-list/index.tsx
Due: prettier --write, eslint --fix

refactor: optimize ReactNode imports in dropdown types
  src/components/Ui/dropdown-list/types.ts
Due: prettier --write, eslint --fix

refactor: refactor input and label with improve of sugestions in PR
  src/components/Ui/input/index.tsx
  src/components/Ui/label/index.tsx
Due: prettier --write, eslint --fix

Update package.json
  package.json
Due: prettier --write

refactor: replace HeaderDefault with unified Header component
  src/components/Header/index.tsx
  src/components/Header/types.ts
  src/components/Header/variants/CompaniesHeader.tsx
  src/components/Header/variants/DefaultHeader/DefaultHeader.tsx
  src/components/Header/variants/DefaultHeader/Logo.tsx
  src/components/Header/variants/DefaultHeader/MenuLinks.tsx
  src/components/Header/variants/DefaultHeader/MobileMenu.tsx
  src/components/Header/variants/PortalCompanyHeader.tsx
  src/layout/DefaultLayout.tsx
Due: prettier --write, eslint --fix

style: improve layout and component organization
  src/components/Home/enterprises-section/index.tsx
  src/components/Home/testimonial-section/index.tsx
Due: prettier --write, eslint --fix

refactor: reorganize imports and clean up code
  src/pages/ProfileSettings/index.tsx
  src/routes/router.tsx
Due: prettier --write, eslint --fix

style: update HomeCompaniesStyles
  src/pages/styles/HomeCompaniesStyles.ts
Due: prettier --write, eslint --fix

chore: remove unused HeaderDefault components
  src/components/HeaderDefault/Logo.tsx
  src/components/HeaderDefault/MenuLinks.tsx
  src/components/HeaderDefault/MobileMenu.tsx
Due: prettier --write, eslint --fix

chore: remove unused PNG images
  src/assets/imgs/candidate-section-mobile.png
  src/assets/imgs/candidate-section.png
  src/assets/imgs/companies.png
Due: none

fix: improve header accessibility and bug fixes
  src/components/Header/variants/CompaniesHeader.tsx
  src/components/Header/variants/DefaultHeader/DefaultHeader.tsx
  src/components/Header/variants/DefaultHeader/MobileMenu.tsx
  src/components/Header/variants/PortalCompanyHeader.tsx
Due: prettier --write, eslint --fix

feat: remove duplicate Header and Footer components
  src/components/Footer.tsx
  src/components/Header.tsx
Due: prettier --write, eslint --fix
